<!DOCTYPE html>
<html>
<head>
    <title>Farmer Orders</title>
</head>
<body>
    <h2>Incoming Orders 👨‍🌾📦</h2>

    <table border="1">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>

        {% for order in orders %}
        <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/farmer_dashboard">Back</a>
</body>
</html>